/* Main container for login screen */
/* Main container for login screen */
/* body {
    margin: 0;
    height: 50vh;
    background: linear-gradient(120deg, #a2c2e5 0%, #e0e7f0 50%, #9bb0d6 100%);
    background-size: 200% 200%;
    animation: gradientShift 10s ease infinite;
  } */
  
  /* Keyframes for gradient movement */
  /* @keyframes gradientShift {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  } */

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    height: 62vh;
    background: rgba(255, 251, 251, 0.448); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Applies blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px; /* Set a maximum width */
    margin: 0 auto; /* Center horizontally */
    margin-top: 10px;
    margin-bottom: 40px;
  }
  
  
  /* Title of the login screen */
  .login-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  
  /* Form styling */
  .login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 10px;
  }
  
  /* Input fields styling */
  .login-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    outline: none;
    background-color: #ffffff;
    color: #333333;
    
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }
  
  .login-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
    background-color: #f9f9f9;
  }
  
  /* Submit button styling */
  .login-button {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-button:hover {
    background-color: #555555;
  }
  
  /* Footer of the login form */
  .login-footer {
    font-size: 1rem;
    color: #141313;
    margin-top: 20px;
  }
  
  .login-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-footer a:hover {
    text-decoration: underline;
    transition-duration: 0.5s;
  }
  